body {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  color: #2F281E;
}

ul {
  list-style: none;
  display: flex;
  gap: 32px;
  justify-content: center;
}


nav {
  display: flex;
  justify-content: space-between;
  margin: 50px;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 50px;
}

h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
}

.header-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: auto;
}

.features-title {
  text-align: center;
}

.features {
  display: flex;
  justify-content: space-between;
  margin: 50px;
}

.features-button {
  display: flex;
  align-items: center;
  margin: 50px;
}

.design-professionals {
  display: flex;
  justify-content: space-between;
  margin: 50px;
}

.product-managers {
  display: flex;
  justify-content: space-between;
  margin: 50px;
}

.marketers {
  display: flex;
  justify-content: space-between;
  margin: 50px;
}

footer {
  display: flex;
  justify-content: space-between;
  margin: 50px;
}