:root {
  --font-family: 'Poppins', sans-serif;
  --primary-color: #ff9900;
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  color: #544837;
}

h1,
h2,
h3,
h4 {
  color: #2F281E;
}

button {
  cursor: pointer;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: white;
  border: none;
  background: var(--primary-color);
  padding: 11px 24px;
  border-radius: 4px;
}

.container {
  max-width: 1110px;
  width: 90%;
  margin: 0 auto;
}

ul {
  list-style: none;
  display: flex;
  gap: 27px;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 50px;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 50px;
}

.buttons {
  display: flex;
  gap: 14px;
}

.transparent {
  background: transparent;
  border: 1px solid #BCD0E5;
  color: #173A56;
  padding-block: 10px;
}

h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
}

.header-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: auto;
}

.features-title {
  text-align: center;
}

.features {
  display: flex;
  justify-content: space-between;
  margin: 50px;
}

.features-button {
  display: flex;
  align-items: center;
  margin: 50px;
}

.design-professionals {
  display: flex;
  justify-content: space-between;
  margin: 50px;
}

.product-managers {
  display: flex;
  justify-content: space-between;
  margin: 50px;
}

.marketers {
  display: flex;
  justify-content: space-between;
  margin: 50px;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 50px;
}